.habits {
  width: 90%;

  .habitsTable {
    font-size: 0.8rem;


    thead {
      td {
        // color: $medium-gray;
        padding: 5px 10px;
        position: relative;

        &:first-of-type {
          text-decoration: underline;
        }

        &:last-of-type {
          color: $green;

          &:after {
            content: 'Today';
            font-size: 0.8rem;
            position: absolute;
            top: -10px;
            right: 2px;
          }
        }
      }
    }

    tbody {
      td {
        padding: 5px;

        &:first-of-type {
          padding: 5px 10px;
        }
      }
    }

  }

  .checkbox {
    label {
      width: 26px;
      height: 26px;
    }

    .completeInput {
      &:checked + label {
        &:before {
          height: 19px;
          left: 7px;
        }
      }
    }
  }


  .completedDay {
    background: $lightest-blue;

    &.top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &.bottom {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
